html {
  height: 100%;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: #292929;
  
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 80%;
}

#splash-screen {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 100;
  animation-name: splash-screen-leave;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  
  transition: all 1s;
}

@keyframes splash-screen-leave {
  from {
    top: 0;
    left: 0;
    opacity: 1;
  }
  
  90% {
    top: 0;
    left: 0;
    opacity: 1;
  }
  
  to {
    top: -200;
    left: 0;
    opacity: 0;
    pointer-events: none;
  }
}

.splash-screen--show {
  animation-name: none !important;
  pointer-events: all;
  opacity: 1;
  top: 0;
}

#splash-screen h1, #splash-screen h2 {
  position: relative;
  
  width: 50%;
  text-align: center;
  
  margin: auto;
}

#splash-screen .logo {
  position: relative;
  
  width: 50%;
  height: 20%;
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  margin: auto;
}

#L2L-logo {
  background-image: url('../img/L2L_vector_logo-01.svg');
}

#Pleotint-logo {
  background-image: url('../img/pleotint-logo-jenison-mi-983.jpg');
}

#connection-panel {
  position: relative;
  background: transparent;
  z-index: 5;
  width: fit-content;
  margin: auto;
}

#clientConnectButton {
  position: relative;
  background-color: #ffec03;
  color: #292929;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  min-height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  cursor: pointer;
}

#info-button {
  position: fixed;
  top: 0;
  right: 0;
  border-top: 80px solid white;
  border-left: 85px solid transparent;
}

#info-button:hover {
  cursor: pointer;
}

#info-button div {
  position: absolute;
  right: 11px;
  bottom: 41px;
  height: 25px;
  width: 25px;
  border-radius: 100px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  text-align: center;
  margin: auto;
  line-height: 25px;
}

#full-page-app {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: auto;
  
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 72% 1fr;
  grid-template-areas:
    "app-left app-right"
    "status-info-area status-info-area";
}

#function-disabled {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #847b7be0;
  z-index: 2;
  transition: all 1s;
  overflow-y: hidden;
}

.functions--enabled {
  opacity: 0;
  pointer-events: none;
}



.app-container {
  position: relative;
  height: 100%;
  width: fit-content;
  top: 0;
  left: 0;
  z-index: 1;
  margin: auto;
}

.app-container h2 {
  padding-top: 90px;
  text-align: center;
  color: white;
}

#app-container-left {
  grid-area: app-left;
}

#app-container-right {
  grid-area: app-right;
}

#status-info-area {
  grid-area: status-info-area;
  justify-items: center;
  text-align: center;
  color: white;
}

.switch-container {
  width: 100%;
  margin-bottom: 60px;
}

#temp-knob {
  display: block;
  margin-top: 10px;
}

.temp-info {
  width: 100%;
  height: 75px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 50% 25%;
  grid-template-areas:
    "st-p at-p"
    "st-d at-d"
    "status-p status-p"
    "status-data status-data";
  justify-items: center;
  color: white;
}

#st1-p {
  grid-area: st-p;
}

#at1-p {
  grid-area: at-p;
}

#st1-data {
  grid-area: st-d;
}

#at1-data {
  grid-area: at-d;
}

#st2-p {
  grid-area: st-p;
}

#at2-p {
  grid-area: at-p;
}

#st2-data {
  grid-area: st-d;
}

#at2-data {
  grid-area: at-d;
}

#status-p {
  grid-area: status-p;
  margin-top: 0;
  margin-bottom: 0;
}

#status-data {
  grid-area: status-data;
}