html {
  height: 100%;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: #292929;
  
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 80%;
}

#connection-panel {
  position: relative;
  background: transparent;
  z-index: 100;
  width: fit-content;
  margin: auto;
}

#clientConnectButton {
  position: relative;
  background-color: #ffec03;
  color: #292929;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  min-height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  cursor: pointer;
}

#full-page-app {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#function-disabled {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #847b7be0;
  z-index: 2;
  
  transition: all 1s;
}

.functions--enabled {
  opacity: 0;
  pointer-events: none;
}

#centered-app-container {
  position: relative;
  height: 100%;
  width: fit-content;
  top: 0;
  left: 0;
  z-index: 1;
  margin: auto;
}

.switch-container {
  padding-top: 90px;
  width: 100%;
  margin-bottom: 40px;
}

#on-off-switch {
  position: absolute;
  left: 50%;
  margin: auto;
  transform: translateX(-50%);
}

#temp-knob {
  display: block;
  margin-top: 10px;
}

.temp-info {
  width: 100%;
  height: 75px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 50% 25%;
  grid-template-areas:
    "st-p at-p"
    "st-d at-d"
    "status-p status-p"
    "status-data status-data";
  justify-items: center;
  color:  white;
}

#st-p {
  grid-area: st-p;
}

#at-p {
  grid-area: at-p;
}

#st-data {
  grid-area: st-d;
}

#at-data {
  grid-area: at-d;
}

#status-p {
  grid-area: status-p;
}

#status-data {
  grid-area: status-data;
}